// test 01 for push operation in vm translator.
// testing pop for all memory segments

push constant 2
pop argument 0

push constant 3
pop local 0

push constant 4
pop static 0

push constant 5
pop temp 0

push constant 6
pop this 0

push constant 7
pop that 0


label END
goto END
