// Calculates a = x*y
// a is a local variable
// x & y are static variables
// temp 0 is x and temp 1 is y
// Put your code here.

// make product 0 and store x and y in temp as to not mess with them

push constant 0
pop local 0

push static 0
push constant 0
lt
if-goto NEG_1
push static 0
pop temp 0
goto NEXT
label NEG_1
push static 0
neg
pop temp 0

label NEXT
push static 1
push constant 0
lt
if-goto NEG
push static 1
pop temp 1
goto SWAP
label NEG
push static 1
neg
pop temp 1

label SWAP
push temp 0
push temp 1
lt
if-goto CHECKING_SIGNS
push temp 0
pop temp 2
push temp 1
pop temp 0
push temp 2
pop temp 1
push constant 1
pop temp 2

label CHECKING_SIGNS
push static 0
push constant 0
lt
if-goto FIRSTNEG
push static 1
push constant 0
lt
if-goto SIGNSWAP
goto WHILE_LOOP
label FIRSTNEG
push static 1
push constant 0
lt
not
if-goto SIGNSWAP


label WHILE_LOOP
push temp 0
push constant 0
gt
not 
if-goto FINISH
push local 0
push temp 1
add
pop local 0
push temp 0
push constant 1
sub
pop temp 0
goto WHILE_LOOP

label SIGNSWAP
push constant 1
neg
pop temp 2
goto WHILE_LOOP

label FINISH
push temp 2
push constant 0
lt
if-goto NEGATIVE_PROD
goto END
label NEGATIVE_PROD
push local 0
neg
pop local 0
label END
goto END
