// test 01 for push operation in vm translator.
// testing sub calls for negative and mixed integers and successive calls
push constant 1
neg
push constant 1
neg
sub
push constant 4
sub
push constant 1
push constant 2
push constant 3
sub
sub
sub
pop static 0
label END
goto END
