// Contains a function ArrMax.arrMax that finds and returns the largest element in the array a of length b.
// a & b are both supplied as arguments

// Put your code here.

function ArrMax.arrMax 2

push argument 0
pop pointer 1
push argument 0
push argument 1
add
push constant 1
sub
pop local 0
push that 0
pop local 1


label LOOP
push pointer 1
push local 0
sub
push constant 0
gt
if-goto LOOP_END

push that 0
push constant 0
lt
if-goto FIRSTNEG //if current element is neg
push local 1
push constant 0
lt
if-goto SWAP
goto SUB
label FIRSTNEG
push local 1
push constant 0
lt 
if-goto SUB
goto NEXT


label SUB
push that 0
push local 1
sub
push constant 0
gt
not
if-goto NEXT
label SWAP
push that 0
pop local 1



label NEXT
push pointer 1
push constant 1
add
pop pointer 1
goto LOOP

label LOOP_END
push local 1
return
