// test 01 for push operation in vm translator.
// testing push for same segment with different and same offset multiple times and with mixed integers

push constant 1
pop static 3
push static 3

push constant 4
pop static 3
push static 3

push constant 1
neg
pop static 2
push static 2

label END
goto END
