// test 01 for push operation in vm translator.
// testing pop negative numbers and using the same offset more than once 

push constant 1
neg
pop static 17

push constant 1
pop static 17

label END
goto END
