// test 01 for push operation in vm translator.
// testing eq calls in succession and normally
push constant 3
push constant 3
eq
push constant 1
push constant 1
neg
eq
push constant 2
push constant 3
eq
eq
eq
pop static 0
label END
goto END
